{% extends "base.html" %}

{% block title %}Parameters{% endblock %}

{% block topbar_text %}Parameters{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <form id="start-process-form" method="POST">
            <div class="form-group">
                <label for="seconds">Start process for n seconds:</label>
                <input type="number" class="form-control" id="seconds" name="seconds" min="1" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Start</button>
        </form>
    </div>
    <div class="row mt-5" id="sensor-data">
        {% for sensor, value in values.items() %}
        <div class="col" id="{{ sensor }}">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ sensor }}</h5>
                    <p class="card-text">{{ value }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="countdown" class="mt-5"></div>

<script>
function updateSensorData() {
    fetch('/get_sensor_values')
        .then(response => response.json())
        .then(data => {
            Object.keys(data).forEach(sensor => {
                document.getElementById(sensor).querySelector('.card-text').innerText = data[sensor];
            });
        });
}

// Update sensor data every 3 seconds
setInterval(updateSensorData, 3000);

document.getElementById("start-process-form").addEventListener("submit", function(event) {
    event.preventDefault();
    let seconds = parseInt(document.getElementById("seconds").value);
    let countdownElement = document.getElementById("countdown");
    let interval = setInterval(function() {
        if (seconds > 0) {
            countdownElement.innerText = `Time remaining: ${seconds} seconds`;
            seconds--;
        } else {
            clearInterval(interval);
            window.location.href = "/history";
        }
    }, 1000);
});
</script>
{% endblock %}
